*
{
box-sizing: border-box;
margin: 0%;
padding: 0%;
}
.hello :hover{
height: 100px;
width: 100px;
border: 2px solid gold;
background-color: brown;

}

.hello1{
    height: 100px;
    width: 100px;
    /* border: 2px solid red; */
    background-color: aqua;
}
.hello2{
    height: 120px;
    width: 100px;
    /* border: 2px solid rgb(153, 0, 255); */
    background-color: rgb(0, 255, 106);
}
#hell{
display: flex;
/* height: 500px;
width: 100%; */
/* border: 2px solid red; */
justify-content: space-evenly;
        
}
